#botoningresacontwitter{

    position: absolute;
    margin: auto;
    top: 40%;
    left: 25%;

}

#botoningresacontwitter2{

    position: absolute;
    margin: auto;
    top: 40%;
    left: 33%;
    height: 10%;
    width: 33.5%;

}