<!--Aca se modifica el view del ingresa/inciar sesion que es lo mismo del sign in -->

<body div class="post">

<section id="intro1" data-speed="6" data-type="background">
           
        <div class="actions form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= render "devise/shared/links_sessions" %>
          </div>
        </div>

        <div class="col-lg-4 col-md-4" id="botoningresacontwitter">  
          <%=image_tag("botoningresacontwitter.jpg", alt:"botoningresacontwitter", id:"botoningresacontwitter")%>
        </div> 

       

</section> 

</body>
